nav {
    ul {
        display: flex;
        align-items: baseline;
        align-content: flex-start;
        justify-content: left;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
        padding: 0px;
    }
}
